/* basic style */
* {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.5;
}
body,
html {
  margin: 0;
}
a {
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 1em;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
li {
  font-size: 1em;
}
img {
  width: 100%;
  vertical-align: bottom;
  display: block;
}
figure {
  margin: 0;
}
option {
  font-size: 1em;
}

/* mixin */
/* font size 12px*/
@mixin fs-12 {
  font-size: clamp(1rem, 0.922rem + 0.39vw, 1.2rem);
}

/* font size 14px */
@mixin fs-14 {
  font-size: clamp(1.2rem, 1.122rem + 0.39vw, 1.4rem);
}

/* font size 20px */
@mixin fs-20 {
  font-size: clamp(1.8rem, 1.722rem + 0.39vw, 2rem);
}

/* media query */
@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* basic button */
@mixin basic-btn {
  border: 1px solid #009ce5;
  background-color: transparent;
  color: #009ce5;
  @include fs-14;
  font-weight: bold;
  padding: 5px 10px;
  width: 110px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  @content;
}

/* basic class */
.flex {
  display: flex;
}
.contents {
  display: contents;
}
.wrap {
  width: min(95%, 1140px);
  margin: 0 auto;
}
.cancel-btn {
  @include fs-12;
  background-color: transparent;
  border: none;
  padding-left: 20px;
  position: relative;
  &::before {
    content: "";
    background: url("../../public/images/ico_close.png") no-repeat;
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
  }
}

/* breakpoints */
$breakpoints: (
  "w-960": "screen and (max-width: 960px)",
  "w-768": "screen and (max-width: 768px)",
  "w-520": "screen and (max-width: 520px)",
) !default;
