// auth form
.auth-form {
  &__logo {
    width: 250px;
    margin: 0 auto;
  }
  &__wrap {
    padding: 30px;
  }
  &__item {
    margin-bottom: 15px;
    div {
      &:first-child {
        margin: 0 auto;
      }
    }
  }
  &__input {
    background-color: initial;
    box-shadow: 2px 3px 4px #f8fafc;
    padding: 10px;
    @include fs-12;
  }
  &__btn {
    @include basic-btn();
    width: 200px;
  }
}

/* error message */
.err-msg {
  @include fs-12;
  strong {
    font-size: 1em;
  }
}

/* nav bar */
.navbar {
  padding: 10px;
  &__inner {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    @include fs-20;
  }
  &__nav {
    column-gap: 10px;
    @include fs-14;
  }
}

/* exam list page */
.exam-list {
  background-color: #e6f1fe;
  padding: 15px 0;
  &__inner {
    background-color: #fff;
    padding: 20px;
  }
  &__head {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b8bdbd;
    padding-bottom: 5px;
    &-heading {
      margin-bottom: 0;
      color: #b8bdbd;
      font-weight: bold;
    }
    &-link {
      background-color: #fbbc04;
      color: #fff;
      @include fs-14;
      width: 150px;
      padding: 5px 10px;
      text-align: center;
      font-weight: bold;
    }
  }
  &__body {
    margin-top: 25px;
  }
  &__item {
    border-bottom: 2px dashed #b8bdbd;
    padding: 10px 0;
    &-upper {
      .type-label {
        color: #fff;
        @include fs-12;
        padding: 2px 10px;
        border-radius: 10px;
        &.normal {
          background-color: #27b949;
        }
        &.special {
          background-color: #f29706;
        }
      }
      .date-label {
        color: #fff;
        @include fs-12;
        padding: 2px 10px;
        background-color: #009fe0;
        margin-left: 5px;
      }
      .cat-txt {
        @include fs-12;
        display: inline-block;
        margin-left: 5px;
        span {
          font-size: 1em;
          font-weight: bold;
        }
      }
    }
    &-lower {
      justify-content: space-between;
      align-items: center;
      .title {
        @include fs-20;
        margin-bottom: 0;
      }
      .btns {
        column-gap: 20px;
        .btn {
          @include basic-btn;
          &.delete {
            background-color: #b90e15;
            border: none;
            color: #fff;
          }
        }
      }
    }
  }
  /* create new exam page */
  &__form {
    &-item {
      margin-bottom: 20px;
      &.flex {
        justify-content: space-between;
      }
    }
    &-label {
      width: 13%;
      @include fs-14;
      & + div.flex {
        display: inline-block;
      }
    }
    input {
      @include fs-14;
    }
    &-input {
      &--text {
        width: 85%;
        padding: 5px;
      }
      &--date {
        padding: 5px;
      }
      &--radio {
        & + label {
          @include fs-14;
          vertical-align: top;
        }
      }
      &--submit {
        color: #009ce5;
        border: 1px solid #009ce5;
        background-color: transparent;
        width: 110px;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
  /* confirm page */
  &__table {
    width: 100%;
    th {
      @include fs-14;
      font-weight: normal;
      width: 15%;
      padding: 10px 10px 10px 0;
    }
    td {
      @include fs-14;
      padding: 10px 10px 10px 0;
    }
    &-lower {
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
      div.flex {
        column-gap: 15px;
      }
      .basic-btn {
        @include basic-btn;
        &.register {
          background-color: #009ce5;
          border: none;
          color: #fff;
        }
      }
    }
  }
}
